.label
  display: flex
  flex-direction: column

  .errorInput
    border: 3px solid #f65261

  .errorParagraph
    display: block
    box-sizing: border-box
    padding: .2rem 0 0 0
    line-height: .8rem
    font-size: .8rem
    color: #f65261

  select
    margin-top: .3rem
    height: 2.7rem
    background: #424242
    color: #ffffff
    font-size: 1rem
    padding: 0 .7rem
    border: none
    border-radius: 4px

    &:focus
      outline: none

    option
      display: none

  input
    margin-top: .3rem
    height: 1.3rem
    background: #424242
    color: #ffffff
    font-size: 1rem
    padding: .7rem .7rem
    border: none
    border-radius: 4px

    &:focus
      outline: none

  p
    margin-top: .3rem
    height: 1.3rem
    color: #ffffff
    font-size: 1rem
    padding: .7rem .7rem

  span
    font-weight: 500
    color: #f65261
    text-transform: uppercase

.optionsWrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  position: absolute
  top: 60.1%
  left: 10%
  width: 80%
  min-height: 10%
  box-sizing: border-box
  padding: 1rem
  background: #232323
  border-radius: 1rem
  border: 1px solid #000000
  box-shadow: 0 6px 2px -3px #211111

  label
    display: block

    &:hover
      background: #f65261

    span
      color: #ffffff

.isMovieEditor
  top: 64.1%