.label
  display: flex
  flex-direction: column

  select
    margin-top: .3rem
    height: 2.7rem
    background: #424242
    color: #ffffff
    font-size: 1rem
    padding: 0 .7rem
    border: none
    border-radius: 4px

    &:focus
      outline: none

  input
    margin-top: .3rem
    height: 1.3rem
    background: #424242
    color: #ffffff
    font-size: 1rem
    padding: .7rem .7rem
    border: none
    border-radius: 4px

    &:focus
      outline: none

  p
    margin-top: .3rem
    height: 1.3rem
    color: #ffffff
    font-size: 1rem
    padding: .7rem .7rem

  span
    font-weight: 500
    color: #f65261
    text-transform: uppercase